<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointment</title>
  </head>
  <body>
    <h1 style="text-align: center; color: #589bff; text-decoration: underline;">APPOINTMENT DETAILS</h1>
    <div style="width: fit-content; margin: 50px auto">
      <p style="font-size: 20px">Name : <%= appointment.user.name %></p>
      <p style="font-size: 20px">Email : <%= appointment.user.email %></p>
      <p style="font-size: 20px">Slot : <%= appointment.slot.time %></p>
      <p style="font-size: 20px">Status : <%= appointment.status %></p>
    </div>
  </body>
</html>
